@import "tailwindcss";

@theme {
  --color-primary: #bc4749;
  --color-primary-dark: #a7333b;
  --color-onPrimary: #ffffff;
  --color-secondary: #e29578;
  --color-tertiary: #f4a261;
  --color-background: #fdfbf7;
  --color-surface: #f4f1ea;
  --color-surface-elevated: #efece3;
  --color-onSurface: #2c2523;
  --color-outline: #d6cfc7;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  --font-sans: var(--font-plus-jakarta), sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-onSurface);
}
